# fly.toml app configuration file generated for marketbrief-back-end on 2026-01-26T16:20:12Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'marketbrief-back-end'
primary_region = 'lhr'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1

